[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
tqdm = "*"
split-folders = {extras = ["full"], version = "*"}
kaggle = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
